numpy<2
scipy
pretty-midi
torch
tqdm
validators
pillow
yt-dlp
jukebox @ git+https://github.com/chenkigba/mirtoolkit_jukebox.git@mirtoolkit
madmom @ git+https://github.com/chenkigba/madmom.git
resampy
librosa
